<header id="navbar" class="animated fadeInDown">
	<div class="name">
		<h2>William Devine</h2>
	</div>
	<div class="links">
		<a href="#about">About</a>
		<a href="#workExperience">Work Experience</a>
		<a href="#portfolio">Portfolio</a>
		<a href="#contact">Contact</a>
	</div>

</header>

<header id="mobileHeader">

	<div id="mobileCont">
		<div class="navIcons">
			<div id="navHam">
				<i class="fas fa-bars fa-2x "></i>
			</div>

			<div id="navX">
				<i class="fas fa-3x ">X</i>
			</div>
		</div>

		<div class="links">
			<div class="link">
				<a href="#about">About</a>
			</div>
			<div class="link">
				<a href="#workExperience">Work Experience</a>
			</div>
			<div class="link">
				<a href="#portfolio">Portfolio</a>
			</div>
			<div class="link">
				<a href="#contact">Contact</a>
			</div>
		</div>
	</div>


</header>


