/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');*/

html {
    scroll-behavior: smooth;
}

body {
    /*font-family: 'Nunito', 'sans-serif';*/
    /*font-family: 'Primary', Moderne Sans, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0;
    color: #122C34;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title {
    height: 100vh;
    background: linear-gradient(to bottom, #efedeb, #FFFFFF);
    /*background: linear-gradient(to bottom, rgba(83, 209, 159, 0.2), rgba(83, 209, 159, 0.01));*/
}

.title h1 {
    text-align: center;
    font-family: 'Primary', Moderne Sans, sans-serif;
    text-transform: uppercase;
    color: #031926;
    font-size: 3em;
    margin: 15px 0 15px 0;
}

.title p {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #122C34;
    padding: 0 0 10px 10px;
}

.scrollDownCont {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.scrollDown {
    position: absolute;
    top: 88%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -12px;
    border-left: 1px solid #031926;
    border-bottom: 1px solid #031926;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

.arrow2 {
    margin-top: 1.25rem;
}

.arrow3 {
    margin-top: 2.5rem;
}

article h3 {
    color: inherit;
    font-family: 'Primary', Moderne Sans, sans-serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

.span {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    display: block;
    padding: 1em 0 1.5em;
    color: #333333;
    line-height: 1.4;
}

/*************************************/
/*************** About ***************/
/*************************************/
#about {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 25vh 0;
    /*border: solid 1px blue; !* For Development *!*/
}

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 65rem;
    /*margin-top: 80px;*/
}

.aboutMe .img {
    /*border: solid 1px orange; !* For Development *!*/
    width: 45%;
}

.aboutMe .img img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.aboutMe .bio {
    margin-left: 1rem;
    width: 55rem;
}

.aboutMe .bio .socialMediaLinks {
    display: flex;
    justify-content: center;
}

.aboutMe .bio .socialMediaLinks div {
    margin: 0 0.5rem;
}

.aboutMe .bio .socialMediaLinks div a i {
    color: black;
    border: solid 2px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.aboutMe .bio .socialMediaLinks .linkedin a :hover {
    border: solid 2px #0e76a8;
    color: #0e76a8;
}

.aboutMe .bio .socialMediaLinks .gitlab a :hover {
    border: solid 2px #FC6D27;
    color: #FC6D27;
}

.aboutMe .bio .socialMediaLinks .instagram a :hover {
    border: solid 2px #E1306C;
    color: #C13584;
}

/*************************************/
/********** Work Experience **********/
/*************************************/
#workExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
}

#workExperience owl-carousel-o {
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;
    padding: 0 5rem 15rem 5rem;
    z-index: 0;
}

#workExperience .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#workExperience .slide img {
    height: 110px;
    width: auto;
    margin-bottom: 1rem;
}

#workExperience #slide4 img {
    border-radius: 50%;
}

#workExperience .slide h4 {
    color: #777777;
    font-size: 2em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

#workExperience .slide h5 {
    color: #959595;
    font-size: 1.25em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1;
}

#workExperience .slide em {
    line-height: 1.6;
    font-style: italic;
}

/*************************************/
/************* Portfolio *************/
/*************************************/
#portfolio {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 15rem 5rem;
}

#portfolio div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 65rem;
}

#portfolio div .portfolioInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#portfolio div .portfolioLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.portfolioLinks div a {
    color: black;
    border: solid 2px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.portfolioLinks div :hover {
    border: solid 2px #53d19f;
    color: #53d19f;
    text-decoration: none;
}

/*************************************/
/************** Contact **************/
/*************************************/
#contact {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 15rem 0;
}

#contact .contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 65rem;
}

#contact .contactMe form {
    width: 100%;
    margin-top: 2rem;
}

#contact .contactMe form .inp {
    position: relative;
    margin: 1rem auto;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

#contact .contactMe form .inp .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    pointer-events: none;
}

#contact .contactMe form .inp input,
#contact .contactMe form .inp textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #000;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

#contact .contactMe form .inp textarea {
    height: 10rem;
    padding-top: 2rem;
}

#contact .contactMe form .inp input:hover,
#contact .contactMe form .inp textarea:hover {
    background: rgba(0, 0, 0, 0.04);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

#contact .contactMe form .inp input:focus,
#contact .contactMe form .inp textarea:focus {
    background: rgba(0, 0, 0, 0.05);
    outline: none;
    box-shadow: inset 0 -2px 0 #53d19f !important;
}

#contact .contactMe form .inp input:focus + .label,
#contact .contactMe form .inp textarea:focus + .label {
    color: #53d19f;
    -webkit-transform: translate3d(0, -12px, 0) scale(0.75);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#contact .contactMe form .inp input:not(:placeholder-shown) + .label,
#contact .contactMe form .inp textarea:not(:placeholder-shown) + .label {
    color: rgba(0, 0, 0, 0.5);
    -webkit-transform: translate3d(0, -12px, 0) scale(0.75);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

#contact .contactMe form .sendButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact .contactMe form button {
    color: black;
    background: none;
    border: solid 2px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

#contact .contactMe form .sendButton :hover {
    border: solid 2px #53d19f;
    color: #53d19f;
    text-decoration: none;
}

.invalid-form-field {
    box-shadow: inset 0 -2px 0 red !important;
}

.invalid-form-button {
    color: lightgray !important;
    background: none !important;
    border: solid 2px transparent !important;
    padding: 0 !important;
    transition: none !important;
}

.invalid-form-button-cont :hover {
    border: solid 2px transparent !important;
    color: lightgray !important;
    text-decoration: none !important;
}

#emailConfirm {
    width: 100%;
    text-align: center;
    visibility: hidden;
    color: #53d19f;
}

#emailError {
    width: 100%;
    text-align: center;
    visibility: hidden;
    color: red;
}

/*************************************/
/********** Responsiveness ***********/
/*************************************/
@media only screen and (max-width: 1150px) {

    .aboutMe .img img {
        width: 250px;
        height: 250px;
        margin-left: 3rem;
    }

    .aboutMe {
        width: 55rem;
    }

    .aboutMe .bio {
        width: 28rem;
    }

    #workExperience owl-carousel-o {
        width: 100vw;
    }

    #portfolio div {
        width: 85vw;
    }

    #portfolio div .portfolioLinks {
        width: 60vw;
    }

    #contact .contactMe form {
        width: 85vw;
    }
}

@media only screen and (max-width: 895px) {

    .aboutMe {
        flex-direction: column;
    }

    .aboutMe .img {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 2rem;
    }

    .aboutMe .img img {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .aboutMe .bio {
        width: 90%;
        margin: 1rem;
    }

    #portfolio div .portfolioLinks {
        width: 80vw;
    }

}

@media only screen and (max-width: 750px) {

    .title h1 {
        font-size: 2.75em;
    }

    #about, #workExperience, #portfolio, #contact {
        padding-top: 3rem;
    }

    .aboutMe .img img {
        width: 225px;
        height: 225px;
        margin-left: 0;
    }

    #workExperience owl-carousel-o {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8em;
    }

    #workExperience .slide {
        margin-left: 0;
        margin-right: 0;
    }

    #portfolio div {
        font-size: 90%;
    }

    #portfolio div .portfolioLinks {
        width: 100vw;
    }

    #contact .contactMe form .inp textarea {
        height: 15rem !important;
    }
}


















