/* You can add global styles to this file, and also import other style files */
/*@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');*/

html {
    scroll-behavior: smooth;
}

body {
    /*font-family: 'Nunito', 'sans-serif';*/
    /*font-family: 'Primary', Moderne Sans, sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    margin: 0;
    color: #122C34;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.title {
    height: 100vh;
    background: linear-gradient(to bottom, #efedeb, #FFFFFF);
    /*background: linear-gradient(to bottom, rgba(83, 209, 159, 0.2), rgba(83, 209, 159, 0.01));*/
}

.title h1 {
    text-align: center;
    font-family: 'Primary', Moderne Sans, sans-serif;
    text-transform: uppercase;
    color: #031926;
    font-size: 3em;
    margin: 15px 0 15px 0;
}

.title p {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #122C34;
    padding: 0 0 10px 10px;
}

article h3 {
    color: inherit;
    font-family: 'Primary', Moderne Sans, sans-serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1;
    margin: 0;
}

span {
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    display: block;
    padding: 1em 0 1.5em;
    color: #333333;
    line-height: 1.4;
}

/*************************************/
/*************** About ***************/
/*************************************/
#about {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 15rem 0;
}

.aboutMe {
    /*border: solid 1px blue; !* For Development *!*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 65rem;
}

.aboutMe .img {
    /*border: solid 1px orange; !* For Development *!*/
    width: 45%;
}

.aboutMe .img img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.aboutMe .bio {
    /*border: solid 1px red; !* For Development *!*/
    margin-left: 1rem;
    width: 55rem;
}

.aboutMe .bio .socialMediaLinks {
    display: flex;
    justify-content: center;
}

.aboutMe .bio .socialMediaLinks div {
    margin: 0 0.5rem;
}

.aboutMe .bio .socialMediaLinks div a i {
    color: black;
    border: solid 2px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.aboutMe .bio .socialMediaLinks .linkedin a :hover {
    border: solid 2px #0e76a8;
    color: #0e76a8;
}

.aboutMe .bio .socialMediaLinks .gitlab a :hover {
    border: solid 2px #FC6D27;
    color: #FC6D27;
}

.aboutMe .bio .socialMediaLinks .instagram a :hover {
    border: solid 2px #E1306C;
    color: #C13584;
}

/*************************************/
/********** Work Experience **********/
/*************************************/
#workExperience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
}

#workExperience owl-carousel-o {
    width: 75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9em;
    padding: 0 5rem 15rem 5rem;
    z-index: 0;
}

#workExperience .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#workExperience .slide img {
    height: 110px;
    width: auto;
    margin-bottom: 1rem;
}

#workExperience #slide4 img {
    border-radius: 50%;
}

#workExperience .slide h4 {
    color: #777777;
    font-size: 2em;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

#workExperience .slide h5 {
    color: #959595;
    font-size: 1.25em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1;
}

#workExperience .slide em {
    line-height: 1.6;
    font-style: italic;
}

/*************************************/
/************* Portfolio *************/
/*************************************/
#portfolio {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding: 15rem 5rem;
}

#portfolio div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 65rem;
}

#portfolio div .portfolioInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 3rem 0 3rem;
    flex-direction: column;
    align-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#portfolio div .portfolioLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.portfolioLinks div a {
    color: black;
    border: solid 2px transparent;
    padding: 0.5rem 1rem;
    transition: 0.2s;
}

.portfolioLinks div :hover {
    border: solid 2px #53d19f;
    color: #53d19f;
    text-decoration: none;
}

/*************************************/
/************** Contact **************/
/*************************************/

/*************************************/
/********** Responsiveness ***********/
/*************************************/
@media only screen and (max-width: 1150px) {

    .aboutMe .img img {
        width: 250px;
        height: 250px;
        margin-left: 3rem;
    }

    .aboutMe {
        width: 55rem;
    }

    .aboutMe .bio {
        width: 28rem;
    }

    #workExperience owl-carousel-o {
        width: 100vw;
    }

    #portfolio div {
        width: 85vw;
    }

    #portfolio div .portfolioLinks {
        width: 60vw;
    }
}

@media only screen and (max-width: 895px) {

    .aboutMe {
        flex-direction: column;
    }

    .aboutMe .img {
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 2rem;
    }

    .aboutMe .img img {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .aboutMe .bio {
        width: 90%;
        margin: 1rem;
    }

    #portfolio div .portfolioLinks {
        width: 80vw;
    }

}

@media only screen and (max-width: 750px) {

    #about {
        padding-top: 10rem;
    }

    .aboutMe .img img {
        width: 225px;
        height: 225px;
        margin-left: 0;
    }

    #workExperience {
        padding-top: 10rem;
    }

    #workExperience owl-carousel-o {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8em;
    }

    #workExperience .slide {
        margin-left: 0;
        margin-right: 0;
    }

    #portfolio {
        padding-top: 10rem;
    }

    #portfolio div {
        font-size: 90%;
    }
    #portfolio div .portfolioLinks {
        width: 100vw;
    }
}





























