<section style="margin-bottom: 10rem;" class="web_homePage" (scroll)="onWindowScroll($event);">

	<div class="title center">
		<h1>William Devine</h1>
		<p>Designer | Developer | Photographer</p>
	</div>

	<article id="about" class="about">
		<div class="aboutMe">
			<div class="img">
				<img src="../../assets/images/williamdevine.png" alt="Image of William Devine">
			</div>
			<div class="bio">
				<h3>About Me</h3>
				<span>
					Programmer, photographer, designer, and creator. I take complex problems and produce simple and
					elegant results. Continuously working to improve my skills so that I can be the best version of myself.
				</span>
				<div class="socialMediaLinks">
					<div class="linkedin">
						<a href="https://www.linkedin.com/in/william-devine/" target="_blank"><i
								class="fab fa-linkedin fa-lg"></i></a>
					</div>
					<div class="gitlab">
						<a href="https://gitlab.com/william84" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
					</div>
					<div class="instagram">
						<a href="https://www.instagram.com/williamdevine_/" target="_blank">
							<i class="fab fa-instagram fa-lg"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>


	<article id="workExperience" class="workExpirience">

		<div>
			<h3>Work Experience</h3>
		</div>
		<owl-carousel-o [options]="customOptions">

			<ng-template carouselSlide>
				<div id="slide1" class="slide">

					<img src="../../assets/images/jascoLogo3.png" alt="JASCO Applied Science">
					<h4>JASCO Applied Science</h4>
					<h5>Software Engineer</h5>
					<em>May 2018 - August 2018</em>
					<span>
						Proin at aliquet odio. Vivamus tristique tempus feugiat. Nulla bibendum, augue et cursus
						vulputate, orci metus porttitor metus, sit amet sodales nunc felis eget lorem. Phasellus et
						dignissim odio. Quisque nec rutrum elit. Sed eget felis erat. Nullam in accumsan eros, eu
						egestas sapien.
					</span>

				</div>
			</ng-template>

			<ng-template carouselSlide>
				<div id="slide2" class="slide">

					<img src="../../assets/images/dalLogo.png" alt="Image of William Devine">
					<h4>Dalhousie University</h4>
					<h5>Head Teaching Assistant</h5>
					<em>September 2018 - December 2018</em>
					<span>
						Proin at aliquet odio. Vivamus tristique tempus feugiat. Nulla bibendum, augue et cursus
						vulputate, orci metus porttitor metus, sit amet sodales nunc felis eget lorem. Phasellus et
						dignissim odio. Quisque nec rutrum elit. Sed eget felis erat. Nullam in accumsan eros, eu
						egestas sapien.
					</span>

				</div>
			</ng-template>

			<ng-template carouselSlide>
				<div id="slide3" class="slide">

					<img src="../../assets/images/pwLogo.png" alt="Image of William Devine">
					<h4>Pratt & Whitney Canada</h4>
					<h5>Full Stack Web Developer</h5>
					<em>January 2019 - April 2020</em>
					<span>
						Proin at aliquet odio. Vivamus tristique tempus feugiat. Nulla bibendum, augue et cursus
						vulputate, orci metus porttitor metus, sit amet sodales nunc felis eget lorem. Phasellus et
						dignissim odio. Quisque nec rutrum elit. Sed eget felis erat. Nullam in accumsan eros, eu
						egestas sapien.
					</span>

				</div>
			</ng-template>

			<ng-template carouselSlide>
				<div id="slide4" class="slide">

					<img src="../../assets/images/freelancePhotographer1.png" alt="Image of William Devine">
					<h4>Freelance Photographer</h4>
					<!--<h5>Full Stack Web Developer</h5>-->
					<em>September 2016 - Present</em>
					<span>
						Proin at aliquet odio. Vivamus tristique tempus feugiat. Nulla bibendum, augue et cursus
						vulputate, orci metus porttitor metus, sit amet sodales nunc felis eget lorem. Phasellus et
						dignissim odio. Quisque nec rutrum elit. Sed eget felis erat. Nullam in accumsan eros, eu
						egestas sapien.
					</span>

				</div>
			</ng-template>

		</owl-carousel-o>

	</article>


	<article id="portfolio" class="portfolio">

		<div>
			<h3>Portfolio</h3>
			<div class="portfolioInfo">
				<span>
					Programmer, photographer, designer, and creator. I take complex problems and produce simple and
					elegant results. Continuously working to improve my skills so that I can be the best version of myself.
				</span>
				<span>
					Programmer, photographer, designer, and creator. I take complex problems and produce simple and
					elegant results. Continuously working to improve my skills so that I can be the best version of myself.
				</span>
				<span>
					Programmer, photographer, designer, and creator. I take complex problems and produce simple and
					elegant results. Continuously working to improve my skills so that I can be the best version of myself.
				</span>
			</div>
			<div class="portfolioLinks">

				<div class="portfolioLink">
					<a href="https://gitlab.com/william84" target="_blank">
						<i class="fas fa-th-list"></i> PORTFOLIO
					</a>
				</div>

				<div class="resumeLink">
					<a href="https://www.linkedin.com/in/william-devine/" target="_blank">
						<i class="fas fa-id-card"></i> DOWNLOAD RESUME
					</a>
				</div>

			</div>
		</div>
	</article>


	<article id="contact" class="contact">

		<form [formGroup]="messageMe">
			<h2>Please provide your email address</h2>

			<div class="form-group">
				<label>Name:</label>
				<input [class.is-invalid]="messageMe.get('name').invalid && messageMe.get('name').touched" type="email" class="form-control" formControlName="email"type="text" class="form-control" formControlName="name"/>
			</div>

			<div class="form-group">
				<label>Email:</label>
				<input [class.is-invalid]="messageMe.get('email').invalid && messageMe.get('email').touched" type="email" class="form-control" formControlName="email"/>
			</div>

			<div class="form-group">
				<label>Message:</label>
				<textarea [class.is-invalid]="messageMe.get('message').invalid && messageMe.get('message').touched" type="text" class="form-control" formControlName="message"></textarea>
			</div>

			<div class="form-group">
				<button type="button" (click)="sendMail()">Send</button>
			</div>
		</form>

	</article>
</section>