<section class="web_homePage" (scroll)="onWindowScroll($event);">

	<div class="title center">
		<h1>William Devine</h1>
		<p>Designer | Developer | Photographer</p>
	</div>

	<article id="about" class="about">
		<div class="aboutMe">
			<div class="img">
				<img src="../../assets/images/williamdevine.png" alt="Image of William Devine">
			</div>
			<div class="bio">
				<h3>About Me</h3>
				<span>
					Programmer, photographer, designer, and creator. I take complex problems and produce simple and
					elegant results. Continuously working to improve my skills so that I can be the best version of myself.
				</span>
				<div class="socialMediaLinks">
					<div class="linkedin">
						<a href="https://www.linkedin.com/in/william-devine/" target="_blank"><i
								class="fab fa-linkedin fa-lg"></i></a>
					</div>
					<div class="gitlab">
						<a href="https://gitlab.com/william84" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
					</div>
					<div class="instagram">
						<a href="https://www.instagram.com/williamdevine_/" target="_blank">
							<i class="fab fa-instagram fa-lg"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>


	<article id="workExperience" class="workExpirience">
		<div style="border: solid 1px red; display: flex;flex-direction: column; justify-content: center;align-content: center;align-items: center;width: 65rem;">
			<h3>Work Experience</h3>
			<div style="display: flex;flex-direction: row;justify-content: center;align-content: center;align-items: center;">

				<div style="margin-right: 2rem;border: solid 1px black; border-radius: 50%; width: 25px; height: 25px;display: flex;flex-direction: column; justify-content: center;align-content: center;align-items: center;">
					<
				</div>

				<div style="margin-top: 3rem; display: flex;flex-direction: column; justify-content: center;align-content: center;align-items: center; width: 65%; text-align: center;">
					<img src="../../assets/images/williamdevine.png" alt="Image of William Devine"
					     style="width: 100px; height:100px; border-radius: 50%;">
					<h4>JASCO Applied Science</h4>
					<h5>Software Engineer</h5>
					<h6>May 2018 - Aug 2018</h6>
					<span>
						Proin at aliquet odio. Vivamus tristique tempus feugiat. Nulla bibendum, augue et cursus
						vulputate, orci metus porttitor metus, sit amet sodales nunc felis eget lorem. Phasellus et
						dignissim odio. Quisque nec rutrum elit. Sed eget felis erat. Nullam in accumsan eros, eu
						egestas sapien.
					</span>
				</div>

				<div style="margin-left: 2rem;border: solid 1px black; border-radius: 50%; width: 25px; height: 25px;display: flex;flex-direction: column; justify-content: center;align-content: center;align-items: center;">
					>
				</div>

			</div>
		</div>
	</article>


	<article id="contact" class="about">
		<div class="aboutMe">
			<div class="img">
				<img src="../../assets/images/williamdevine.png" alt="Image of William Devine">
			</div>
			<div class="bio">
				<h3>cantact</h3>
				<span>
				Programmer, photographer, designer, and creator. I take complex problems and produce simple and
				elegant results. Continuously working to improve my skills so that I can be the best version of myself.
			</span>
				<div class="socialMediaLinks">
					<div class="linkedin">
						<a href="https://www.linkedin.com/in/william-devine/" target="_blank"><i
								class="fab fa-linkedin fa-lg"></i></a>
					</div>
					<div class="gitlab">
						<a href="https://gitlab.com/william84" target="_blank"><i class="fab fa-gitlab fa-lg"></i></a>
					</div>
					<div class="instagram">
						<a href="https://www.instagram.com/williamdevine_/" target="_blank">
							<i class="fab fa-instagram fa-lg"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>