<div class="title center">
	<h1>William Devine</h1>
	<p>Designer | Developer | Photographer</p>
</div>

<div class="center">
	<div class="aboutMe">
		<div class="img">
			<img src="../../assets/images/williamdevine.png" alt="Image of William Devine">
		</div>
		<div class="bio">
			<h3>About Me</h3>
			<p>Programmer, photographer, audiophile, communicator, connector and creator.
				Working at the sweet spot between beauty and elegance to answer design problems with honest solutions. I
				prefer
				clear logic
				to decoration.
			</p>
			<div class="socialMediaLinks">
				<div class="linkedin">
					<a href="https://www.linkedin.com/in/william-devine/"><i class="fab fa-linkedin fa-lg"></i></a>
				</div>
				<div class="gitlab">
					<a href="https://gitlab.com/william84"><i class="fab fa-gitlab fa-lg"></i></a>
				</div>
				<div class="instagram">
					<a href="#">
						<i class="fab fa-instagram fa-lg"></i>
						<!--<i class="fab fa-instagram-square fa-lg"></i>-->
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

